project:
  type: website
  resources:
    "_redirects"

execute:
  freeze: true

website:
  title: "rainbowR"
  image: images/rainbowR-hex-square.png
  image-alt: A hexagon comprised of six diagonal stripes, in rainbow colours, with a white horizonal stripe accross the centre containing the word rainbowR. The letters in the word 'rainbow' are also created from geometric shapes in the same six colours, are where those shapes overlap, their colours overlap too. The capital 'R' is the same R as in the R language logo. It is orange.
  favicon: images/rainbow-hex-square.png
  open-graph: true
  site-url: "https://rainbowr.netlify.app"
  
  navbar:
   # logo: rainbowR-square.svg
    right:
      - text: "Posts"
        file: posts.qmd
      - text: "Join"
        href: https://docs.google.com/forms/d/1y7SOWE3IW-fpR_5Cd4mK-CMUpFZ-hvhY4cTj34JqTVE/
        target: _blank
      - text: "Meetups"
        href: meetups.qmd
      - text: "Code of Conduct"
        file: CoC.qmd
      - icon: github
        href: https://github.com/r-lgbtq
      - icon: mastodon
        href: https://tech.lgbt/@rainbowR
      
        
format:
  html:
    theme: 
      light: custom_light.scss
      dark: custom_dark.scss
    css: styles.css

editor: source

# https://quarto.org/docs/websites/website-blog.html#themes
