/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap');

// colors
$vapor-purple: #7042C1;
$light-purple: #e6b3ff;
$white: #ffffff;
$cyan: #32fbe2;
$dark-cyan: #29C9B5;
$dark: #1A0933;

body{
  color: $light-purple; 
  font-family: Figtree, Helvetica, sans-serif;
  font-size: 20px;
}


code {
  color: $white;
}

a {
  text-decoration: none;
}

// icon-links
.icon-link, div.quarto-about-jolla .about-link {
    background-color: transparent;
    color: $cyan;
    //border: 2px solid !important;
    border: 2px solid;
    border-color: $cyan;
    padding: 5px .4rem 5px .4rem !important;
    margin-top: 4px;
    margin-right: 8px;
    margin-bottom: 4px;
    border-radius: 5px; 
    display: inline-block;
    text-decoration: none;
}

.icon-link:hover, div.quarto-about-jolla .about-link:hover{
    background-color: $cyan;
    border-color: $cyan;
    color: $dark;
    text-decoration: none;
}