/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap');

$font-family-sans-serif: Figtree, Helvetica, sans-serif;
$headings-font-family: Figtree, Helvetica, sans-serif;

// colors
$red: #E40303;
$orange: #FF8C00;
$yellow: #FFED00;
$green: #008026;
$indigo: #24408E;
$blue: #24408E;
$violet: #732982;
$purple: #732982;

$primary: $blue;
